@model IEnumerable<PartyInvites.Models.GuestResponse>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center p-2">
        <h2 class="text-center">
            Here is the list of people who can't make it to the party
        </h2>
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Phone</th></tr>
            </thead>
            <tbody>
                @foreach (PartyInvites.Models.GuestResponse r in Model!)
                {
                    <tr>
                        <td>@r.FirstName</td>
                        <td>@r.LastName</td>
                        <td>@r.Email</td>
                        <td>@r.Phone</td>
                    </tr>
                }
            </tbody>
      </table>
    </div>
    <br />
    <div class="text-center">
        Submit a new RSVP
        <a asp-action="RsvpForm">here</a>.
        <br />
        Click
        <a asp-action="ListResponses">here</a> to see who is coming.
        <br />
        Click
        <a asp-action="ListDeclines">here</a> to see who can't make it.
    </div>
</body>
</html>
